sudo:
  false

language:
  php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - nightly
  - hhvm
  - hhvm-nightly

cache:
  directories:
    - vendor

before_script:
  - phpenv config-rm xdebug.ini
  - composer install --dev --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --configuration phpunit.xml --colors --coverage-clover=coverage.clover

matrix:
  allow_failures:
    - php: hhvm
    - php: hhvm-nightly
